<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Modify</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<style>
.wrap-loading{ /*화면 전체를 어둡게 합니다.*/
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.wrap-loading div{ /*로딩 이미지*/
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -21px;
    margin-top: -21px;
}

.display-none{ /*감추기*/
    display:none;
}
</style>
<script th:inline="javascript">
    $(document).ready(function() {
        $("#submit").on("click", function() {

            let typeName = $("#type_name").val();
            let kind = $("#kind").val();
            let typeNo = $("#type_no").val();
            let deleteYn = $("input:radio[name='delete_yn']:checked").val();

            if(typeName == '') {
                $("#errorMsg").html("게시판 이름을 입력해주세요.");
                return false;
            } else if(kind == '') {
                $("#errorMsg").html("게시판 종류를 선택해주세요.");
                return false;
            }

            $.ajax({
                type : "POST",
                url : "/admin/boardType/modify",
                dataType:"text",
                data : {
                    'type_name' : typeName,
                    'delete_yn' : deleteYn,
                    'type_no' : typeNo,
                    'kind' : kind
                },
                success : function(data){
                      if(parseInt(data)) {
                        alert("수정이 완료되었습니다.");
                        window.location.replace('/admin');
                      } else {
                        alert("수정에 문제가 생겼습니다.");
                      }
                }
                ,beforeSend : function() {
                    $('.wrap-loading').removeClass('display-none');
                }
                ,complete : function() {
                    $('.wrap-loading').addClass('display-none');
                }
            });
        })
    })
</script>
<body>
<input type="hidden" id="sessionId" th:value="${session.loginMember.user_id}" >

<h1>게시판 수정</h1>
<form th:action="@{/admin/boardType/modify}" th:object="${boardTypeForm}" method="post">

    <p id="errorMsg" style="color:red;" th:text="${msg}"></p>

    <div>
        <label for="type_name">게시판 이름 : </label>
        <input type="text" id="type_name" th:field="*{type_name}" class="form-control"
               th:errorclass="field-error">
    </div>
    <br>
    <div>
        <label for="kind">게시판 종류</label>
        <select id="kind" th:field="*{kind}">
            <option value="qna" th:selected="${boardTypeForm.kind eq 'qna'}">질문&답변</option>
            <option value="gallery" th:selected="${boardTypeForm.kind eq 'gallery'}">갤러리</option>
        </select>
    </div>
    <br>
    <div>
        <label for="deleteDiv">활성화 여부</label>
        <div id="deleteDiv">
            <label for="yn1"><input type="radio" name="delete_yn" id="yn1" value="N" th:checked="${boardTypeForm.delete_yn eq 'N'}" ><span>활성화</span></label>
            <label for="yn2"><input type="radio" name="delete_yn" id="yn2" value="Y" th:checked="${boardTypeForm.delete_yn eq 'Y'}" ><span>비활성화</span></label>
        </div>
    </div>
    <br>
    <input type="hidden" id="type_no" th:field="*{type_no}">
</form>

<input id="submit" type="submit" value="완료" />
<button onclick="location.href='items.html'" th:onclick="|location.href='@{/admin}'|" type="button">취소</button>

<div class="wrap-loading display-none">
    <div><img style="width: 50px;" src="../images/loading.gif" /></div>
</div>

</body>
</html>