<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hyo.boardexample.mapper.UserAuthMapper">

    <select id="getUserAuthList" parameterType="hyo.boardexample.domain.UserAuth" resultType="hyo.boardexample.domain.UserAuth">
        SELECT
             a.auth_no
            ,a.user_id
            ,a.auth_code
            ,a.type_no
            ,a.delete_yn
            ,a.insert_user
            ,a.insert_date
            ,b.type_name
        FROM
            auth_table a, board_type b
        WHERE
            a.type_no = b.type_no
        AND
            a.user_id = #{user_id}
        <if test="delete_yn == 'N'">
        AND
            a.delete_yn = 'N'
        </if>
    </select>

    <select id="getUserAuthManage" parameterType="hyo.boardexample.domain.UserAuth" resultType="int">
        SELECT
            count(auth_no)
        FROM
            auth_table a, board_type b
        WHERE
            a.type_no = b.type_no
        AND
            a.user_id = #{user_id}
        AND
            a.type_no = #{type_no}
        AND
            a.delete_yn = 'N'
        AND
            a.auth_code = 'M'
    </select>

    <select id="checkUserAuth" parameterType="hyo.boardexample.domain.UserAuth" resultType="int">
        SELECT
            count(auth_no)
        FROM
            auth_table
        WHERE
            user_id = #{user_id}
        AND
            type_no = #{type_no}
        AND
            auth_code = #{auth_code}
        AND
            delete_yn = 'N'
    </select>

    <insert id="insertUserAuth" parameterType="hyo.boardexample.domain.UserAuth">
        INSERT INTO auth_table(
             user_id
            ,auth_code
            ,type_no
            ,insert_user
        )
        VALUES(
             #{user_id}
            ,#{auth_code}
            ,#{type_no}
            ,#{insert_user}
        )
    </insert>

    <update id="deleteUserAuth" parameterType="hyo.boardexample.domain.UserAuth">
        UPDATE auth_table
        SET delete_yn = #{delete_yn}
        WHERE auth_no = #{auth_no}
    </update>

    <update id="updateUserAuth" parameterType="hyo.boardexample.domain.UserAuth">
        UPDATE auth_table
        SET
             auth_code = #{auth_code}
            ,type_no = #{type_no}
            ,insert_user = #{insert_user}
            ,insert_date = CURRENT_TIMESTAMP
        WHERE
            auth_no = #{auth_no}
        AND
            user_id = #{user_id}
    </update>

</mapper>